@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins' , sans-serif;
}

body {
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-color: #2198A9;
}

.container {
background-color: whitesmoke;
padding: 6px;
width: 400px;
height: 600px;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
overflow: hidden;
border-radius: 10px;
box-shadow: 0 0 20px 0  rgba(5, 73, 98, 0.541);
}

form {
position: absolute;
margin-top: 80px;
transition: .5s;
width: 300px;
height: 400px;
}

.chap{
font-size: 13px;
align-items: center;
justify-content: start;
gap: 5px;
margin-bottom: 10px;
}


.buttonsform {
margin-top: 40px;
position: relative;
border-radius: 30px;
}


input[ type= "text"], input[type= "password"] {
border: none;
margin-top: 40px;
border-radius: 60px;
padding: 8px 0 8px 35px;
outline: none;
width: 100%;
margin-bottom: 10px;
}

.roberta button {
background-color: #2198A9;
color: #fff;
border: none;
padding: 5px 5px;
border-radius: 3px;
font-size: 15px;
cursor: pointer;
width: 90px;
margin-bottom: 90px;
}

button:hover {
   background-color: #030006;
}