*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

h2{
   color: #2198A9;
   font-size: 34px;
   text-align: center;
}

body{
   background-color: white;
}

.interface{
   max-width: 1280px;
   margin: 0 auto;
}

/* Estilo do header */

header{
   width: 100%;
   padding: 10px 0;
}

header .interface{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header .logo img{
   max-width: 60px;
   cursor: pointer;
}

header .menu-desktop nav ul{
   list-style: none;
}

header .menu-desktop nav ul li{
   display: inline-block;
   margin: 0 40px;
}

header .menu-desktop nav ul li a{
   color: #2198A9;
   text-decoration: none;
   display: inline-block;
   transition: 0.2s;
}

.menu-desktop nav a:hover{
   transform: scale(1.05);
}

header .btn-contato button, .hero-site button{
   font-size: 15px;
   background-color: transparent;
   border: 1px solid #2198A9;
   color: #2198A9;
   cursor: pointer;
   transition: 0.5s;
}

header .btn-contato button{
   width: 140px;
   height: 45px;
}
header .btn-contato button:hover, .hero-site button:hover{
   background-color: #2198A9;
   color: #fff
}

/* Estilo do hero */

section.hero-site{
   height: 90vh;
   background-image: url(../imagem/Medico.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   color: #ffffff;
}

.hero-site .interface{
   display: flex;
   align-items: center;
   height: 100%;
}

.hero-site .txt-hero{
   font-size: 1.5em;
   line-height: 40px;
}

.hero-site .txt-hero h1 span{
   display: block;
}

.hero-site .txt-hero p{
   font-size: 20px;
   font-weight: 400;
}

.hero-site button{
   width: 200px;
   height: 50px;
   font-size: 20px;
}

/* Estilo do sobre */

.section .vantagens{
   padding: 80px 0;
}

.vantagens .itens-contairner{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10%;
   margin: 30px;

}

.vantagens .itens-contairner .img-itens img{
   max-width: 420px;
   border-radius: 10px;
}

.vantagens .itens-contairner .txt-itens h3{
   font-size: 3em;
   line-height: 50px;
   margin-bottom: 20px;
   color: #2198A9;
}

.itens-contairner .txt-itens h3 span{
   font-weight: 200;
}