body{
    display: grid;
    font-family: sans-serif;
    place-items: center;
    background-image: url(../imagem/fundo.png);
    min-height: 100vh;
}

p{
    font-size: 1.3125 ;
    font-weight: 700 ;
    color: #2198A9;
    margin-bottom: 5rem;
}
form{
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 25rem;
    background-color: #ffffff;
    padding: 2.5rem;
    border: 2px solid #2198A9;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 1.8rem rgba (0, 0, 0, 0.15);
}

label{
    width: 100%;
    color: #14026c;
    align-self: flex-start;
    transition: 0.15 linear;
}

label:focus-within{
    color: #ffffff;
}

input, button{
    font-size: 1.1875rem;
    color: #404040;
    padding: 1rem 0 0.5rem 0;
    width: 100%;
    border: none;
    border-color: #a0a0a0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin-bottom: 3rem;
    transition: 0.15s linear;
}

input-focus{
    outline: none;
    border-color: #14026c;
}
button{
    cursor: pointer;
    
}
button:hover{
    opacity: 0.8;
}
button[disabled]{
    opacity: 0.7;
}
.entrar{
    font-size: 0.8125rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    background: transparent;
    color: #2198A9;
    border: 1px solid currentColor;
    border-radius: 4px;
    transition: 0.25s;
    transform: translateY(10px);
}

button:hover,
button:focus {
    outline: none;
    background: #2198A9;
    color: #fff;
}
